<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Muce</title>

    <%= stylesheet_pack_tag "stylesheet", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "javascript", "data-turbolinks-track": "reload" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd4Fee0ChR1j6x9OaVMoXsvWRz-NRAoTM" data-turbolinks-eval="false"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
